<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boolzapp</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <div id="myvueboolzapp">
       <div class="container display-flex">
            <div class="mex-container">
                <div class="top-banner display-flex">
                    <div class="img-profile display-flex cursor">
                        <img src="img/1.png" alt="">
                    </div>

                    <div class="top-banner-icon display-flex">
                        <i class="fas fa-circle-notch cursor"></i>

                        <i class="fas fa-comment-alt cursor"></i>

                        <i class="fas fa-ellipsis-v cursor"></i>
                    </div>
                </div>

                <div class="main-conv-container">

                
                    <div class="notification-popup display-flex">
                        <div class="icon-notify display-flex cursor">
                            <i class="fas fa-bell-slash"></i>
                        </div>

                        <div class="text-notify">
                            <div class="cursor">Ricevi notifiche di nuovi messaggi</div>
                            <div class="cursor">Attiva notifiche desktop <i class="fas fa-angle-right"></i></div>
                        </div>
                    </div>

                    <div class="search-box display-flex">
                        <input type="text" placeholder="Cerca o inizia una nuova chat" v-model="textInSearch" @keyup="searchContactByText">
                    </div>

                    <div v-for="(user, index) in contacts">
                        <div  v-if="user.visible">
                            <div class="mex-list display-flex cursor" @click="chatSwitch(index)">
                                <div class="img-profile display-flex">
                                    <img :src="user.avatar" alt="">
                                </div>
                                
                                <div class="text-mex-list display-flex">
                                    <h4 class="username">{{user.name}}</h4>
                                    <div class="latest-mex display-flex">
                                        <span class="text-mex-username">{{user.messages.at(-1).text}}</span>
                                        <span class="text-mex-date">{{user.messages.at(-1).date}}</span>
                
                                    </div>
                                </div>
                            </div>   
                        </div>
    

                    </div>

            </div>

            </div>

            <div class="conv-container">
                <div class="top-banner-main display-flex">
                    <div class="img-profile display-flex cursor">
                        <img :src="contacts[chatSelected].avatar" alt="">
                    </div>

                    <h4 class="cursor">{{contacts[chatSelected].name}}</h4>
                </div>

                <div class="conversation-box">
                    <div class="clearfix" v-for="(mexuser, mexindex) in contacts[chatSelected].messages">
                        <div  class="cursor" :class="`mex-${contacts[chatSelected].messages[mexindex].status}`" @click="mexuser.deleteOption = !mexuser.deleteOption">
                            <div>
                                <span class="text-mex-word-break">{{contacts[chatSelected].messages[mexindex].text}}</span>
                                <div class="text-mex-date">{{contacts[chatSelected].messages[mexindex].date}}</div>    
                            </div>

                            <div class="delete-info-box" >
                                <div class="mex-options display-flex" v-if="mexuser.deleteOption">
                                    <div class="info" @click="infoMex(mexindex)">Info</div>
                                    <div class="del" @click="deleteMex(mexindex)">Elimina</div>
                                </div>    
                            </div>
                        </div>
                    </div>
                
                        
                </div>
                
                
                <div class="bottom-banner display-flex">
                    <i class="far fa-grin cursor"></i>
                
                    <i class="fas fa-paperclip cursor"></i>
                
                    <input v-model="sentMessages"  type="text" placeholder="Scrivi un messaggio"  @keyup.enter="sendMex">
                
                    <i class="fas fa-microphone cursor"></i>
                
                </div>
            </div>
        </div>
    </div>
    <script src="https://unpkg.com/dayjs@1.8.21/dayjs.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script type="text/javascript" src="js/myscript.js"></script>
</body>
</html>