<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boolzapp</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <div id="myvueboolzapp">
       <div class="container">
            <div class="mex-container">
                <div class="top-banner">
                    <div class="img-profile">
                        <img src="img/1.png" alt="">
                    </div>

                    <div class="top-banner-icon">
                        <i class="fas fa-circle-notch"></i>

                        <i class="fas fa-comment-alt"></i>

                        <i class="fas fa-ellipsis-v"></i>
                    </div>
                </div>

                <div class="main-conv-container">

                
                    <div class="notification-popup">
                        <div class="icon-notify">
                            <i class="fas fa-bell-slash"></i>
                        </div>

                        <div class="text-notify">
                            <div>Ricevi notifiche di nuovi messaggi</div>
                            <div>Attiva notifiche desktop <i class="fas fa-angle-right"></i></div>
                        </div>
                    </div>

                    <div class="search-box">
                        <input type="text" placeholder="Cerca o inizia una nuova chat" v-model="textinsearch" @keyup="searchcontactbytext">
                    </div>

                    <div v-for="(user, index) in contacts">
                        <div  v-if="user.visible">
                            <div class="mex-list" @click="chatswitch(index)">
                                <div class="img-profile">
                                    <img :src="user.avatar" alt="">
                                </div>
                                
                                <div class="text-mex-list">
                                    <h4 class="username">{{user.name}}</h4>
                                    <div class="latest-mex">
                                        <span class="text-mex-username">{{user.messages.at(-1).text}}</span>
                                        <!-- <span class="text-mex-date">{{user.messages.at(-1).date}}</span> -->
                
                                    </div>
                                </div>
                            </div>   
                        </div>
    

                    </div>

            </div>

            </div>

            <div class="conv-container">
                <div class="top-banner-main">
                    <div class="img-profile">
                        <img :src="contacts[chatselected].avatar" alt="">
                    </div>

                    <h4>{{contacts[chatselected].name}}</h4>
                </div>

                <div class="conversation-box">
                    <div class="clearfix" v-for="(mexuser, mexindex) in contacts[chatselected].messages">
                        <div :class="`mex-${contacts[chatselected].messages[mexindex].status}`">
                            <span>{{contacts[chatselected].messages[mexindex].text}}</span>

                        </div>
                
                    </div>
                
                
                </div>
                
                <div class="bottom-banner">
                    <i class="far fa-grin"></i>
                
                    <i class="fas fa-paperclip"></i>
                
                    <input v-model="sentmessages"  type="text" placeholder="Scrivi un messaggio"  @keyup.enter="sendmex">
                
                    <i class="fas fa-microphone"></i>
                
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script type="text/javascript" src="js/myscript.js"></script>
</body>
</html>